/* 
** FlexBox - Criando um designer que seja flexivel para qualquer tamanho de tela.

 Observações: 
            |_> Por padrão as div's tem o Display block, isso faz com
             que o elemento use todo os espaço disponível do pai na 
             horizontal, e na vertical ele usa o espaço necessário,
             para conter o conteúdo.
            |_> Cada div tem o seu Display block.
            |_> Quano se aplica um Flex em um elementeo que tenha filhos
                todos os elementos filhos vão sofrer uma mudança.
            |_> Quando se usa Flex Box, conseguimos através do pai definir
                de certa forma o posicionamento e o comportamento dos filhos.
            |_> Por padrão o Flex-direction é do tipo "row".
*/
*{
    margin: 0;
    padding: 0;
}
:root{
    --size: 600px;
    --width: 200px;
    --height: 200px;
    background-color: darkgray;
}
.container{
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* align-items: flex-end; */
    /* align-content: center; */



    height: var(--size);
    color:whitesmoke;
    background-color: gray;
}
/* Flex shrink recebe como propriedade 0 ou 1, por padrão 
é 1(que dizer que o elemento pode encolher.) */
.r1{
    /* flex-shrink: 0;  */
    flex-grow: 1;
    background-color: tomato;
}
.r2{
    flex-grow: 1;/*Padrão é 0*/
    background-color: rgb(184, 24, 184);
}
.r3{
    flex-grow: 2; /* O 2 quer dizer que essa div será o dobro do tamanho das outras divs. Ou 3, nesse caso seria o triplo*/
    background-color: cornflowerblue;
}
.rect{
    /* width: var(--width); */
    height: var(--height);
}