/* 
Estudando pseudo elementos.
*/

/* Define o estilo apenas da primeira linha do elemnto em questão. */
p::first-line {
    color: tomato;
}

/* Define o estilo apenas da primeira letra do elemnto em questão. */
p::first-letter {
    color: rgb(247, 21, 247);
}
h1::first-letter{
    font-size: 3em;
}

/* 
 
*/
li{
    list-style: none;
    /* list-style-image: url(./Assets/Images/blueberry_icon.png); */
    /* margin-left: 300px; */
}
/* Permite que eu coleque um conteúdo antes do elemento */
li::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(./Assets/Images/blueberry_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* Permite que eu coleque um conteúdo depois do elemento */
li::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(./Assets/Images/apple.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Define um estilo para o testo que está selecionado na página */
p::selection{
    background-color: goldenrod;
    color: orangered;
}